.header {
    display: flex;
    align-items: center;
}
.logo{
    height: 25;
    cursor: pointer;
    display: inline-block;
    
}
.lin{
    height: 25;
    display: inline-block;
    cursor: pointer;
    
}

.sea{
    vertical-align: top;
    width: 400px;
    height: 30;
    align-items: center;
    margin-left: 200;
    vertical-align: top;
    display: inline-block;

}

.brown{
    height: 155;
    margin-top: 20;
    cursor: pointer;
    display: block;

}
.t1{
    width: 240;
    cursor: pointer;
}
.t12{
  
    color: rgb(96,96, 96);
}
.mar{
    border-radius: 100px;
    height: 35;
    display: block;
    margin-top: 15;
    
}
.video-tit{
    display: inline-block;
}
.video-titty{
    display: inline-block;
    vertical-align: top;

}
.t22{
      color: rgb(96,96, 96);
}
.marki{
     border-radius: 100px;
    height: 35;
    display: block;
    
}
.bro{
    display: inline-block;
    vertical-align: top;
}
.bron{
    display: inline-block;
}

.t21{
    vertical-align: top;
    display: inline-block;
    margin-top: 15;
}
.br{
      height: 155;
    margin-top: 20;
    cursor: pointer;
    display: block;
}
.t23{
    display: inline-block;
}
.t2{
    cursor: pointer;
}
